<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatK</title>
    <link rel="stylesheet" href="./sidebars/sidebar.css">
    <link rel="stylesheet" href="./sidebars/navbar.css">
    <link rel="stylesheet" href="./bootstrap-icons-1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="./img/chat.png" type="image/x-icon">
</head>
<body>
    <div class="container">

        <!-- Friends side bar -->

        <div class="sidebar">
            <div class="pic">
                <a class="profile" href="#"> <img src="./img/avatar.png" alt=""></a>
                <a href="" id="edit">
                  <p><%= fromDatas %></p>     
                </a>
            </div>
            <p id="friend">Friends</p>
            <div class="friends">
              <%  if(users == ''){%>
                No users found
              <% }%>
              <% if(users != ''){%>
                <% users.forEach(function(user) { %>
                  <a href="/user?name=<%= user.email%>" class="active">
                    <p class="imgs" href="#"> <img src="./img/avatar.png" alt=""></p>
                    <p id="one"><%= user.name%></p>
                </a>
                <% })%>
              <% }%>                             
            </div>
        </div>

        <!-- The main section content -->

        <div class="contents">
            <nav>
                <p class="imgss"> 
                    <img src="./img/avatar.png" alt="">
                </p>
                <p>
                    Online
                </p>
                <ul>
                  <li><a href=""><i class="bi-chat-right-text-fill"></i></a></li>
                  <li><a href=""><i class="bi-bell"></i></a></li>
                </ul>
            </nav>
            <div class="chatBox">
                <div class="chat-container">

                </div>
                    <form action="" method="POST">
                        <input type="text" placeholder="Message ...">
                        <button type="submit"><i class="bi-send"></i></button>
                    </form>
            </div>
        </div>
    </div>
</body>
</html>


